@use "sass:color";
@use '../base/variables' as v;
@use '../base/mixins' as m;

.blog-entry {
    border: .1rem solid color.scale($color: v.$gris, $lightness: -10%);
    border-radius: 1rem;
    width: 90%;
    margin: 1rem auto;
    .imagen .mini-pic {
        width: 100%;
    }
    @include m.tablet {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
        width: 100%;
        margin: 1rem;
        .imagen .mini-pic {
            width: 100%;
            height: 100%;
        }
    }
    &:last-of-type{
        margin-bottom: 0;
    }
}
.entry-text {
    margin: .5rem;
    a {
        color: v.$negro;
        display: block;
        margin-top: 1.4rem;
        @include m.tablet {
            margin-top: 0;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
        }
    }
    h4 {
        margin: 0;
        line-height: 1.4;
        font-weight: v.$regular;
        font-size: 2.4rem;
        &::after {
            content: '';
            display: block;
            width: 15rem;
            height: .5rem;
            background-color: v.$lblue;
            margin-top: 1rem;
        }
        @include m.tablet {
            text-align: left;
        }
    }

}
.meta-info {
    p {
        margin: .4rem;
        font-size: 1.7rem;
    }
    span {
        color: v.$amarillo;
        font-size: 1.7rem;
        margin: 0 auto;
        text-transform: uppercase;
    }

    a {
        display: inline;
        span {
            margin-left: .5rem;
        }
    }
    .date {
        font-size: 1.6rem;
        span {
            font-size: 1.6rem;
        }
    }
    .category {
        font-size: 1.5rem;
        text-decoration: underline;
    }
}
// .entry-container {
//    p {
//     margin: .5rem;
//    }
// }

.imagen img{
    border-radius: 1rem 1rem 0 0;
    @include m.tablet {
        border-radius: 1rem 0 0 1rem;
    }
}

.pagination {
    // border: .1rem solid black;
    display: flex;
    justify-content: center;
    a {
        color: v.$negro;
        background-color: color.scale($color: v.$gris, $lightness: -2.5%);
        border: .1rem solid color.scale($color: v.$gris, $lightness: -10%);
        border-radius: .5rem;
        margin: .5rem;
        padding: .8rem 1.8rem;
        &:hover {
            background-color: color.scale($color: v.$gris, $lightness: -10%);
        }
        &.active {
            color: v.$body;
            background-color: color.scale($color: v.$negro, $lightness: 30%);
            &:hover {
                background-color: color.scale($color: v.$negro, $lightness: 10%);
            }
        }
        &.disabled {
            visibility: hidden;
        }
    }
}
