@use '../base/variables' as v;

.comments-container {
    border: .1rem solid v.$negro;
    border-radius: .5rem;
    margin-top: 1rem;
    h3 {
        font-weight: v.$regular;
        text-align: left;
        padding: 0 auto 0 1rem;
        margin: 0 auto 0 1rem;
        font-size: 2.8rem;
    }
    .comment {
        display: flex;
        border-bottom: .1rem solid v.$negro;
        margin: .5rem 1rem;
        img {
            width: 6rem;
            height: 6rem;
            border-radius: .5rem;
        }
    }
}

.comments-container {
    .leave-comment {
        padding: 1rem;
        h4 {
            margin: .5rem auto;
        }
        textarea {
            width: 100%;
            border: .1rem solid v.$tnegro;
            padding: 1rem;
            border-radius: .5rem;
        }
        .auth-container {
            a {
                color: v.$blue;
            }
        }
    }
}
.comment {
    .comment-content {
        .comment-title {
            display: flex;
            flex-direction: column-reverse;
            line-height: 1.5rem;
            h4, p {
                text-align: start;
                margin: 0 auto 0 1rem;
            }
            h4 {
                font-weight: v.$regular;
                text-decoration: underline;
                font-size: 2.44rem;
            }
            p {
                font-size: 1.5rem;
                font-weight: v.$delgada;
                font-style: italic;
                padding: 0;
            }
        }

        p {
            padding: 1rem 2rem;
            line-height: 1.7rem;
        }
    }
}
