@use '../base/variables' as v;
@use '../base/mixins' as m;

.contact-content {
    display: flex;
    flex-direction: column;
}

.contact-img {
    width: 30rem;
    margin: 0 auto 1rem;
    border-radius: .5rem;
    @include m.tablet {
        width: 50rem;
    }
    @include m.desktop {
        width: 60rem;
    }
}
