@use '../base/variables' as v;
@use '../base/mixins' as m;

.contact-content {
    display: flex;
    flex-direction: column;
}

.contact-img {
    width: 30rem;
    margin: 0 auto 1rem;
    border-radius: .5rem;
    @include m.tablet {
        width: 50rem;
    }
    @include m.desktop {
        width: 60rem;
    }
}

.beauty-form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: .1rem v.$grisOscuro solid;
    border-radius: .5rem;
    background-color: rgba(241, 241, 241, 0.8);

    label {
        color: v.$negro;
    }

    input,
    select,
    textarea {
        border-radius: .5rem;
        border: .1rem v.$tnegro solid;
        padding: 1rem 2rem;

        &:focus, &:active {
            border: .2rem v.$blue solid;
            outline: none;
        }
    }

    textarea {
        margin-bottom: .5rem;
    }
}
