@use '../base/variables' as v;
@use '../base/mixins' as m;

.table-container {
    border: .1rem v.$tnegro solid;
    border-radius: 1rem;
    padding: 2rem;
    background-color: v.$gris;
    overflow-x: auto;
    h2 {
        margin: 0;
        font-weight: v.$regular;
    }
}

#zones-table,
#climbing_routes-table,
#boulders-table,
#entries-table,
#spots-table {
    background-color: v.$grisOscuro;
    border-radius: 1rem;
    border-collapse: collapse;
    width: 100%;
    min-width: 65rem;
    tbody tr {
        border-bottom: .1rem v.$gris solid;

        &:nth-child(even) {
            background-color: #DCDCDC; /* Color de fondo para filas pares */
        }

        &:hover {
            background-color: v.$tblue;
        }
    }

    th {
        color: v.$dnegro;
        text-align: left;
    }

    td {
        color: v.$dnegro;
        padding: 1rem 1.5rem;
        text-align: left;
    }
}

#zones-table {
    th:nth-child(1),
    td:nth-child(1) {
        width: 25% !important;
    }
    th:nth-child(2),
    td:nth-child(2) {
        width: 25% !important;
    }
}

.dt-length label,
.dt-search label,
.dt-column-title {
    color: v.$dnegro !important;
    font-weight: v.$bold;
}

.dt-input {
    background-color: v.$grisOscuro !important;
}

.dt-length select {
    padding: .5rem 1rem !important;
    color: v.$negro !important;
}

.dt-search input {
    padding:  .8rem 1.5rem !important;
    border: .1rem v.$tnegro solid !important;
    &:focus, &:active {
        border: .2rem v.$blue solid !important;
        outline: none;
    }
}

.dt-action-link {
    color: v.$negro;
    text-decoration: underline;
    &:focus, &:active {
        color: v.$blue;
    }
}

.dt-container .dt-paging .dt-paging-button.current {
    border: none !important;
    background-color: v.$lblue !important;
    border-radius: .5rem !important;
    padding:.5rem 1.5rem;
}

.datatable-actions {
    display: flex;
    flex-wrap: wrap;
    @include m.tablet {
        flex-wrap: nowrap;
    }
    a p {
        margin: 0 1.5rem;
        font-size: 3rem;
    }
}

.datatable-show-child {
    display: flex;
    @include m.tablet {
        justify-content: center;
    }
    a {
        padding: .5rem 1rem;
        color: v.$negro;
        border: .1rem v.$lamarillo solid;
        border-radius: .5rem;
        background-color: v.$tamarillo;
    }
}
