@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
    line-height: 1.8;
    background-color: v.$body;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    &.sticky-body {
        padding-top: 9rem;
    }
}
p {
    color: v.$negro;
    font-size: 2rem;
}
.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    color: v.$negro;
}

img,
picture {
    width: 100%;
    display: block;
}

h1, h2, h3, h4 {
    font-family: v.$fuente_principal;
    margin: calc(v.$separacion / 2) 0;
    font-weight: 300;
    text-align: center;

}

h1 {
    font-size: 3.8rem;
    color: v.$negro;
}
h2 {
    font-size: 3.4rem;
    color: v.$negro;
}
h3 {
    font-size: 3rem;
    color: v.$negro;
}
h4 {
    font-size: 2.6rem;
    color: v.$negro;
}

main {
    flex: 1;
}

// footer {
//     position: fixed;
//     bottom: 0;
//     width: 100%;
// }

#map {
    height: 40vh;
    width: 90%;
    margin: 1rem auto;
    z-index: 50;
    border-radius: .5rem;

    @include m.tablet {
        height: 50vh;
    }

    @include m.desktop {
        width: 100%;
    }
}
